/* profile */
.profile{
    display:flex;
    justify-content: center;
    align-items: center;
}

.profile_word{
    position: absolute;
    z-index:999;
    font-size:120px ;
    color:#1E3F72;
    font-family: 'Titan One', cursive;
    font-weight: 900;
    text-shadow: -10px -10px 0 #FFF, 10px -10px 0 #FFF, -10px 10px 0 #FFF, 10px 10px 0 #FFF;
}

@media(max-width:1280px){
    .profile_word{
        font-size:100px ;
    }
}

@media(max-width:992px){
    .profile_word{
        font-size:80px ;
    }
}

@media(max-width:576px){
    .profile_word{
        font-size:60px ;
    }
}

.img_3g{
    width: 100%;
    opacity: 25%;
}

/* introduction */
.intro{
    width:100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:100px;
}

/* intro_common */
.intro_box{
    position: relative;
    display: flex;
    margin:100px 0 0 0;
}

/* intro_img */
.intro_img{
    display: flex;
    width:200px;
    height:200px;
    perspective: 1000px;
}

.intro_img_inner{
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.intro_img_f{
    border-radius: 50%;
    border:10px #eebbd2 solid;
}

.intro_img_b{
    border-radius: 50%;
    border:10px #eebbd2 solid;
}

/* intreo_img_flip */
.intro_img:hover .intro_img_inner {
    transform: rotateY(180deg);
  }

.intro_img_b {
    transform: rotateY(180deg);
}

.intro_img_f, .intro_img_b {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.intro_text{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.intro_title{
    font-family: "Noto Sans TC",sans-serif;
    font-weight: 700;
    font-size:36px;
    margin:0;
}

.intro_word{
    display: inline-flex;
    font-family: "Noto Sans TC",sans-serif;
    font-weight: 300;
    font-size:18px;
    padding:20px 30px;
    background-color: #FFFFFF;
    border-radius: 30px;
    border:10px #eebbd2 dashed;
    max-width: 610px;
    margin:20px 0 0 0;
    line-height: 24px;
}

/* shan_box */
.shan_text{
    margin-left: 0px;
    margin-right: 50px;
}

/* intro_RWD */
@media(max-width:992px){
    .intro{
        margin-bottom: 50px;
    }

    .intro_box{
        flex-direction: column;
        align-items: center;
        margin:50px 0 0 0;
    }
    
    .intro_text{
        align-items: center;
        margin:10px 0 0 0;
    }

    .shan_box{
        flex-direction: column-reverse;
    }
}

/* contact_us */
.contact_us{
    width:100%;
    border:0;
    background-color: #fef2f9;
    padding:60px;
}

.contact_us_width{
    margin:0 auto;
    max-width:1200px;
}

.contact_word {
    font-family:"Titan One",sans-serif;
    font-size:60px;
    color:#1E3F72;
}

@media(max-width:992px){
    .contact_word {
        font-size:45px;
    }
}

@media(max-width:480px){
    .contact_word {
        font-size:32px;
    }

    .contact_us{
        padding:40px;
    }
}

.btn_submit{
    display: flex;
    padding-top:12px!important;
    line-height: 1.2rem !important;
    font-size: 1.2rem!important;
}

.success{
    display: flex;
    line-height: 1.2rem !important;
    font-size: 1.2rem!important;
    justify-content: center;
    align-items:center;
    color:#409983;
}

.error{
    display: flex;
    line-height: 1.2rem !important;
    font-size: 1.2rem!important;
    justify-content: center;
    align-items:center;
    color:#ca0000;
}

.none{
    display:none;
}

/* mobirise */
.form-control {
    font-family: 'Titan One', display;
    font-size: 1.2rem!important;
    line-height: 1.5;
    font-weight: 400;
}
.form-control > .mbr-iconfont {
    font-size: 1.5rem;
}
.form-control:hover,
.form-control:focus {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
    border-color: #6b0139 !important;
}
.form-control:-webkit-input-placeholder {
    font-family: 'Titan One', display;
    font-size: 1.2rem;
    line-height: 1.5;
    font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
    font-size: 1.5rem;
}
.mbr-section-btn a.btn:not(.btn-form) {
    border-radius: 100px;
}
.cid-sjYBogIVhK form .mbr-section-btn {
    text-align: center;
    width: 100%;
}
.cid-sjYBogIVhK form .mbr-section-btn .btn {
    display: inline-flex;
}
@media (max-width: 991px) {
    .cid-sjYBogIVhK form .mbr-section-btn .btn {
        width: 100%;
    }
}
.btn {
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
}
.btn-primary,
.btn-primary:active {
    background-color: #6b0139 !important;
    border-color: #6b0139 !important;
    color: #ffffff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
    color: #ffffff !important;
    background-color: #15000b !important;
    border-color: #15000b !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
    color: #ffffff !important;
    background-color: #15000b !important;
    border-color: #15000b !important;
}
.display-4 {
    font-family: 'Titan One', display;
    font-size: 1.2rem;
    line-height: 1.5;
}
.display-4 > .mbr-iconfont {
    font-size: 1.5rem;
}
.form-control,
form .btn {
    min-height: 48px;
}
textarea.form-control {
    line-height: 1.5rem !important;
    height: auto;
    padding-top:12px;
}